#dv{
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 0;
   /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}
#p{
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
    position: center;
    text-align:justify;

   
}
#p1{
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
    text-align: right ;
}
#p2{
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px
    text-align: right2rem;
}
#p3{
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
}
#p4{
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
}
#p5{
    font-size: 18px;